body {
    background-color: rgb(228, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

/* Estilo da imagem */
.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 120px; /* ajuste conforme necessário */
    height: auto;
    border: 2px solid white; /* exemplo de borda */
    border-radius: 8px; /* opcional, deixa com cantos arredondados */
}

/* Estilo do card */
.card {
    width: 300px;
    padding: 20px;
    background: linear-gradient(to right, #f7f5f5, #f4f2f2);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease;
    border: solid 2px rgb(164, 3, 3);
    color: red;
}

.card:hover {
    transform: scale(1.1);
}
